@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <input class="alert-state" id="alert-1" type="checkbox">
    <div class="alert alert-@statusMessageClass dismissible">
        @Model
        <label class="btn-close" for="alert-1">X</label>
    </div>
}
