@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<form id="profile-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" disabled />
    </div>
    <div class="row flex-middle no-padding">
        <div class="col col-4">
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col col-4">
            @if (Model.IsEmailConfirmed)
            {
                <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
            }
            else
            {
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Wyślij email weryfikacyjny</button>
            }
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Input.DisplayName"></label>
        <input asp-for="Input.DisplayName" class="form-control" />
        <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Zapisz</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
