@model WebCrawler.WebApp.WebApp.Models.Apps.ListAppsViewModel
@{
    ViewData["Title"] = "Utwórz sesję";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    @foreach (var app in Model.Apps)
    {
        <div class="sm-12 md-6 lg-4 col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@app.DisplayName</h4>
                    <p class="card-text">@app.Description</p>
                    <form asp-controller="Apps" asp-action="StartNewSession" method="post">
                        <input type="hidden" asp-for="@app.Id" name="appId"/>
                        <button type="submit" class="btn-small">Utwórz sesję</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>