@model WebCrawler.ChatApp.Models.ChatRoomListViewModel
@{
    ViewBag.Title = "Lista pokoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Views/Chat/ChatRoomList.js"></script>
<div><br /></div>
<h2>Utwórz nową sesję aplikacji</h2>
<div class="row">
    @using (Html.BeginForm("StartNewSession", "Chat", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <select name="appName" size="5" class="form-control">
                <option value="DungeonCrawler" class="form-control">Dungeon Crawler</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Utwórz nową sesję</button>
        </div>
    }
</div>
<div>
    @Ajax.ActionLink("Wyświetl dialog", "GetDialogMsg", new AjaxOptions { OnSuccess = "showDialog", HttpMethod = "POST", LoadingElementId="loader" })
</div>
<div class=".ui-diaog" id="dialog">
    <span id="dialog-msg"></span>
</div>
<div>
    @using (Html.BeginForm("JoinToSession", "Chat", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <select name="sessionId" size="5" class="form-control">
                @foreach (var session in Model.Sessions)
                {
                    <option value="@session.Id" class="form-control">
                        @session.AppName - @session.Creator.DisplayName
                    </option>
                }
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Dołącz do sesji</button>
        </div>
    }
</div>