@model WebCrawler.ChatApp.Models.ChatRoomViewModel
@{
    ViewBag.Title = @Model.ChatRoomName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>@Model.ChatRoomName</h2>
<div class="container">
    <div class="form-group">
        <textarea id="ta_chatlog" disabled class="form-control" rows="20"></textarea>
        <input type="text" id="message" class="form-control" />
    </div>
    <div class="form-inline">
        <input type="button" id="sendmessage" value="Wyślij" class="btn btn-primary"/>
    </div>
</div>

@section scripts {
    <script>
        var sessionId = @Model.SessionId;
    </script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Views/Chat/ChatRoom.js"></script>
}

