@{
    ViewData["Title"] = "WebCrawler";
}

<article class="article">
    <h1 class="article-title"><a href="">Witaj w WebCrawler</a></h1>
    @*<p class="article-meta">Written by <a href="#">Super User</a></p>*@
    <p class="text-lead">
        Graj w gry tekstowe przez przeglądarkę. Opuść sesję i powróć do niej na
        dowolnym urządzeniu.
    </p>
    @*<p>Lorem...</p>

        <div class="row">
            <button>Read More</button>
            <button>5 Comments</button>
        </div>*@
</article>
