@{
    ViewData["Title"] = "WebCrawler";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Application uses</h4>
                <p class="card-text">Sample pages using ASP.NET Core MVC</p>
                <a class="card-link" href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a>
            </div>
        </div>
    </div>
    <div class="md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">How to</h4>
                <ul>
                    <li><a class="card-link" href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                    <li><a class="card-link" href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                    <li><a class="card-link" href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                    <li><a class="card-link" href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                    <li><a class="card-link" href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
