@{
    ViewData["Title"] = "WebCrawler";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Witaj w WebCrawler</h4>
                <p class="card-text">Graj w gry tekstowe przez przeglądarkę. Opuść sesję i powróć do niej na 
                dowolnym urządzeniu.</p>
            </div>
        </div>
    </div>
</div>
