@model WebCrawler.ChatApp.Models.AppViewModel
@{
    ViewBag.Title = @Model.AppName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/Content/apps/DungeonCrawler/style.css")    
}

@section scripts {
    <script>
        var sessionId = @Model.SessionId;
    </script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Views/Apps/DungeonCrawler.js"></script>
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <h1>@Model.AppName</h1>
        </div>
    </div>
    <div class="row container consoleContainer" style="height: 400px; overflow-y: scroll;">
        <div id="consoleOutput" class="console">
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <input type="text" id="consoleInput" class="form-control" />
        </div>
        <div class="col-md-3">
            <button type="button" id="executeButton" class="btn btn-primary">Wykonaj</button>
        </div>
    </div>
</div>

